#imagenLogo{
	position: relative;
	top: 0px;
	width: 350px;
}

.ParteSuperior{
	background-color: #4346c4;
}

.menu{
	height: 80px;
	position: relative;
	margin-bottom: 0px;
}

#logoFace1{
	position: absolute;
  right: 5px;
	top: 0px;
	width: 40px;
  border-radius: 15%;
}

#logoInsta{
  position: absolute;
  right: 50px;
  border-radius: 15%;
	top: 0px;
	width: 40px;
}
#boton{
  position: absolute;
  right: 100px;
  border-radius: 15%;
	top: 5px;
  height: 30px;
	width: 70px;
  color: rgb(240, 240, 240);
  background-color: cadetblue;
}

#fotosebas{

  width: 130px;
  height: 120px;
  border-radius: 100%;
  margin-left: 100px;
  margin-top: 0px;
  border: 2px solid black;
}
#tabla{
  margin-top: 0px;
  margin-left: 0px;
}
.cajapadre{
  display: flex;
  justify-content: center;
}
#banner{
position: relative;
  width: 500px;
  height: 250px;
  margin-top: 0px;
  margin-left: 70px;
  margin-right: 70px;

}
.articuloPadre #ejemplo{
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
}


